# Entornos virtuales (Crítico)
.venv/
env/
venv/
ENV/

# Caché de Python (Crítico)
__pycache__/
*.py[cod]
*$py.class

# Bases de Datos locales (Crítico)
*.sqlite3
*.sqlite3-journal
*.db

# Variables de entorno / Secretos (Crítico)
.env
.env.*
!.env.example

# Cachés de herramientas y testing
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Configuración de IDEs (Opcional pero recomendado para GitHub)
.idea/
.vscode/

# Logs
*.log
